.nav {
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}

.nav_item {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  &:hover {
    text-decoration: underline;
    background-color: lightgray;
  }
}

.nav_item_active {
  font-weight: bold;
}
